.ifm-box-content{
    height: 434px;
    width: 1004px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
    border: 1px solid #0d4472;
    background: url(../images/con-bg.png) 0 0 repeat;
    margin: 1px;
}

.pub_head{
    overflow: hidden;
    margin-bottom: 5px;
}
.pub_head_l{
    width: 16px;
    height:38px;
    float: left;
    display: inline-block;
    background:url("../images/title_left.png")no-repeat;
}
.pub_head_c{
    width:130px;
    height: 28px;
    margin-top: 5px;
    float: left;
    display: inline-block;
    background-color: #074383;
    color: #00a6fb;
    text-align: left;
    line-height:28px;
    font-size:16px;
}
.pub_head_r{
    width: 16px;
    height:38px;
    float: left;
    display: inline-block;
    background:url("../images/title_right.png")no-repeat;
}
#chartDetail{
    margin-top: 10px;
    overflow: hidden;
}


.col-7{
    float: left;
}
.col-5{
    float: left;
    width: 532px;
    height: 438px;
    margin-left: 40px;
}
#listDetail{
    margin-top: 20px;
    height: 434px;
    width: 1582px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
    border: 1px solid #0d4472;
    background: url(../images/con-bg.png) 0 0 repeat;
}
