application.name=internet-medical-webui
server.port=8080

zookeeper.discovery.register=false
zookeeper.discovery.root=/wm
zookeeper.connect-string=${host}:${port}

dubbo.registry.url=${protocol}://${host}:${port}
dubbo.protocol.name=dubbo
dubbo.base-package=com.isoft.wm.infosys.api
dubbo.consumer.timeout=30000

jpa.properties.hibernate.hbm2ddl.auto=none
database.url=${driverType}:{dbType}://${host}:${port}/${db}?${parameters}
database.username=
database.password=
database.driver-class-name=com.mysql.jdbc.Driver



