@charset "utf-8";
/* 对比弹出层 */
.dbtcc ul{
    margin:0;
    padding:0;
    list-style: none;
}
.content-con{
    width:98%;
    padding:30px 0;
    margin:0 auto;
}
.content-con1{
    width:100%;
    margin:20px 0 20px 0;
    position:relative;
}
.content-con2{
    position:relative;
    padding:0;
    margin:0;
    width:98%;
}
.con-table,.con-table2{
    width:100%;
    border:1px solid #0d4472;
    background:url('../images/con-bg.png') 0 0 repeat;
    margin:1px;
    position:relative;
}
.con-table2{
    width:100%
}
.con-table table td{
    border-right:1px solid #0a274f;
    border-bottom:1px solid #0a274f;
    padding:2px 0 2px 8px;
}
.con-top-l,.con-top-l1{
    width:18px;
    height:18px;
    position:absolute;
    top:-2px;
    left:-2px;
    overflow:hidden;
    margin:0;
    padding:0;
}
.con-top-l1{
    top:-1px;
    left:0;
    z-index: 99;
}
.con-top-r,.con-top-r1{
    width:18px;
    height:18px;
    position:absolute;
    top:-2px;
    right:-2px;
    overflow:hidden;
    margin:0;
    padding:0;
}
.con-top-r1{
    z-index: 99;
    top: -2px;
    right: -4px;
}
.con-bottom-l,.con-bottom-l1{
    width:18px;
    height:18px;
    position:absolute;
    bottom:-2px;
    left:-2px;
    overflow:hidden;
    margin:0;
    padding:0;
}
.con-bottom-l1{
    left:0;
    bottom:0;
    z-index: 99;
}
.con-bottom-r,.con-bottom-r1{
    width:18px;
    height:18px;
    position:absolute;
    bottom:-2px;
    right:-2px;
    overflow:hidden;
    margin:0;
    padding:0;
}
.con-bottom-r1{
    right:-4px;
    bottom:-1px;
    z-index: 99;
}
.table-title{
    background:#0a2f5d;
    font-family: '微软雅黑','arial';
    font-size: 16px;
    color:#00a6fb;
    font-weight: normal;
}
.table-con,.table-con1{
    background:none;
    font-family: '微软雅黑','arial';
    font-size: 16px;
    color:#1765b1;
    font-weight: normal;
}
.table-con1{
    background:#0a1e46;
}
.content ul{
    margin:10px 0 0 40px;
    padding:0;
    list-style: none;
}
.content ul li{
    margin:0;
    padding:0;
}
.compare-content{
    width:100%;
    height:100%;
}
.closepic{
    display: block!important;
    position: absolute;
    right:20px;
    top:10px;
    cursor:pointer;
    width:29px!important;
    height:29px!important;
    background: url('../images/backpage.png') 0 0 no-repeat;
}
.closepic:hover{
    background: url('../images/backpage1.png') 0 0 no-repeat;
}
.ifm-tabs{
    overflow: hidden
}
.tabs-conbox{
    display: block;
    float: left;
}
.tabs-con{
    float: left
}
.compare-content-title{
    background: url(../images/search-bg.png) 0 0 repeat;
    width:100%;
    margin:0;
    padding: 0 0 0 0;
    height:49px;
    border-bottom:1px solid #082f62;
    position: relative;
}
.compare-content-title span{
    line-height: 49px;
    font-family: '微软雅黑','arial';
}
.compare-top-tab1{
    color:#1bedff;
    font-size: 16px;
    cursor: pointer;
}
.compare-top-tab{
    color:#6698ca;
    font-size: 16px;
    cursor: pointer;
}
.jgpic{
    color:#055a96;
    font-size: 18px;
}
.closepic,.closepic1{
    position: absolute;
    right:20px;
    top:10px;
    cursor:pointer;
    width:29px;
    height:29px;
    background: url('../images/backpage.png') 0 0 no-repeat;
}
.closepic1{
    background: url('../images/backpage1.png') 0 0 no-repeat;
}
/* 对比展示内容 */
.compare-l{
    float:left;
    width:894px;
    margin:20px 40px 0 20px;
}
.compare-r{
    float:left;
    width:894px;
    margin: 20px 0 0 0;
}
.title-left{
    float:left;
}
.title-center{
    background:url('../images/title_center.png') 0 0 repeat-x;
    float:left;
    font-size: 16px;
    line-height: 38px;
    text-align: left;
    color:#00a6fb;
    font-family: '微软雅黑','arial';
    min-width:100px;
    padding:0 10px;
}
.title-right{
    float:left;
}
.clear{
    clear:both;
}
h2{
    padding:10px 0 0 20px;
    margin:0;
    font-family: '微软雅黑','arial';
    font-size: 16px;
    color:#6698ca;
}
.table-compare{

}
.con-table-title{
    color:#00a6fb;
    font-size: 16px;
    height:46px;
    line-height: 46px;
    font-family: '微软雅黑','arial';
    text-align: left;
    border-bottom:1px dashed #0d4674;
    width:96%;
    margin:0 auto;
}
.con-table ul{
    list-style: none;
    margin:0 auto;
    padding:0;
    width:96%;
}
.con-table ul li{
    float:left;
    margin:15px 15px 0 0;
}
.compare-li{
    background:#094483;
    border-radius: 6px;
    height:32px;
    line-height: 32px;
    padding:0 6px 0 6px;
    color:#00a6fb;
    font-size: 16px;
    font-family: '微软雅黑','arial';
}
.compare-li:hover{
    background:#2975c7;
    border-radius: 6px;
    height:32px;
    line-height: 32px;
    padding:0 6px 0 6px;
    color:#00a6fb;
    font-size: 16px;
    cursor:pointer;
    font-family: '微软雅黑','arial';
}
.jg20{
    height:20px;
    clear:both;
}
.c-title{
    overflow: hidden;
}
.label.label-info{
    background-color: #094483!important;
    border-radius: 6px;
    padding: 0 6px 0 6px;
    line-height: 20px;
    color: #00a6fb!important;
    font-size: 16px!important;
    font-family: '微软雅黑','arial';
    cursor: pointer;
}
.label.label-info:hover{
    background: #2975c7!important;
}
#ByAn{
    margin-bottom: 10px;
}
.datagrid-cell{
    text-align: center!important;
}
.datagrid-view2{
    overflow: visible;
}
.datagrid-header{
    background-color: #0a2f5d;
}
.panel-body{
    border:0
}
.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-width: 0;
    margin: 0;
    padding: 0;
}
.datagrid-header td .datagrid-cell span{
    font-family: '微软雅黑','arial';
    font-size: 15px!important;
    color: #00a6fb;
    font-weight: bold
}
 .datagrid-row{
  background:transparent !important;
}
.datagrid .panel-body{
    overflow: visible
}
.panel{
    overflow: visible;
}
.datagrid-body{
    background-color: transparent!important;
}
.datagrid-body .datagrid-row{
    height: 38px;
    line-height: 38px;
    box-sizing: content-box;
}
.datagrid-row-over {
     background-color: #094483!important;
}
.panel-body{
    background: transparent;
}

.panel-noscroll{
    overflow: visible;
}
.datagrid-view{
    border: 1px solid #0d4472;
    box-sizing: border-box;
    overflow: visible;
}
.datagrid-view1 .datagrid-body{
    background: url(../images/con-bg.png) 0 0 repeat;}
.datagrid-body td, .datagrid-footer td {
    border-width: 0;
    margin: 0;
    padding: 0;
    background: url(../images/con-bg.png) 0 0 repeat;
}

.datagrid-header{
    border: 0
}
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber{
    font-family: '微软雅黑','arial';
    font-size: 16px;
    color:#1765b1;
}


.datagrid .datagrid-pager {
    margin-top: 10px;
    border: 0;
    color:#00a6fb;
}
.datagrid-toolbar, .datagrid-pager{
    background: none
}
.datagrid-header-rownumber, .datagrid-cell-rownumber{
    width: 78px;
}
.datagrid-header-row{
    height: 38px;
}
.datagrid-header-over{
    background: transparent!important;
}
.datagrid-view2  .datagrid-body{
    height: auto!important;
}

.datagrid-view1  .datagrid-body{
    height: auto!important;
}
.datagrid-view1 .datagrid-body-inner {
    padding-bottom: 0!important;
}
.x-content-con{
    padding:10px 20px;
    box-sizing: border-box;
    border: 1px solid #0d4472;
    background: url(../images/con-bg.png)
}
.active{
    color: #1bedff;
}
.taba2{
    opacity: 0;
}
.x-tab{
    overflow:  hidden;
}
.panel-header{
    margin-bottom: 10px;
    background: transparent;
    border: 0;
    
}
.panel-title{
    font-family: '微软雅黑','arial';
    font-size: 16px;
    color:#6698ca!important;
}
.datagrid-view1 .datagrid-header,.datagrid-view1 .datagrid-body{
    width: 30px;
}
.datagrid-cell-rownumber,.datagrid-td-rownumber,.datagrid-header-rownumber{
    width: 30px;
    padding: 0;
    margin:0
}
.datagrid-cell {
    padding: 0; 
}
.datagrid-cell span{
    font-size:14px;
}
.con-table table td {
    padding: 0
}
.x-content-con .con-top-l1{
    margin-left: -2px;
    margin-top: -1px;
}
.x-content-con .con-top-r1{
    margin-right: 2px;
    margin-top: 0px;
}
.x-content-con .con-bottom-l1{
    margin-left: -2px;
    margin-bottom: -2px;
}
.x-content-con .con-bottom-r1{
    margin-right: 2px;
    margin-bottom: -1px;
}
#list10,#list20,#list50{
    margin-left:10px;
}
#list50{
    margin-bottom: 20px;
}

.taba2 .datagrid-body .datagrid-row td,.taba2 .datagrid-btable td{
    padding: 10px 0;
}
.taba2 .datagrid-cell {
    line-height: 23px;
}
/* .taba2 .datagrid-header td .datagrid-cell span{
    font-size: 16px!important;
} */
/* .one-content{
    width:700px
} */
.compare-l2{
    float:left;
    width:624px;
    margin:20px 20px 0 20px;
}
.compare-r2{
    float:left;
    width:1160px;
    margin:20px 10px 0 20px;
}
.compare-l-l{
    float:left;
    width:565px;
    margin:20px 10px 0 20px;
}
.compare-l-r{
    float:left;
    width:565px;
    margin:20px 10px 0 20px;
}
.col-12:nth-child(2){
    margin-top: 6px
}
